<br>

<div class="btn">
  <button class="btn_utils" (click)="goToCart()">Ir al carrito</button>
  <button class="btn_utils" (click)="goToHistory()">Mi historial de compras</button>
  <button class="btn_exit" (click)="logout()">Salir de la sesion</button>
</div>

<br>

<div id="products">

  <div *ngFor="let product of products">

    <div  id="productson" *ngIf="product.isEnabled.enable">
      <h2>{{product.name.name}}<span>: {{product.price.quantity}}$</span></h2>
      <Button id="productson_btn" (click)="addToCart(product)">Agregar al carrito</Button>
    </div>

  </div>

</div>
