<table border>

  <thead>
    <tr>
      <th>Product ID</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>En Inventario</th>
      <th>Disponible</th>
      <th>Max</th>
      <th>Min</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody id="tbody">

    <tr id="tdson" *ngFor="let product of products">
      <td>{{product.productID.uuid}}</td>
      <td>{{product.name.name}}</td>
      <td>{{product.price.quantity}}</td>
      <td>{{product.inInventory.quantity}}</td>
      <td>{{product.isEnabled.enable}}</td>
      <td>{{product.max.quantity}}</td>
      <td>{{product.min.quantity}}</td>
      <td> <Button (click)="editProduct(product)">Editar</Button> <button (click)="deleteProduct(product.productID.uuid)">Eliminar</button> </td>
    </tr>

  </tbody>

</table>

