<div class="btn">
  <button class="btn_utils" (click)="gotToCrud()">Regresar al crud</button>
  <button class="btn_exit" (click)="logout()">Salir de la sesion</button>
</div>

<div class="history">

  <div class="history_buy" *ngFor="let compra of comprasView">

    <b>Buy details:</b>

    <p>{{compra.shopID}}</p>
    <p>{{compra.clientName.name}} {{compra.clientName.lastName}}</p>
    <p>{{compra.idType}}</p>
    <p>{{compra.idClient}}</p>
    <p>{{compra.date}}</p>

    <b>Products:</b>
    <div *ngFor="let buy of compra.productsPurchased">
      <p>{{buy}}</p>
    </div>

  </div>

</div>

