<div class="crud">

  <form [formGroup]="formInicial">

    <input style="display: none;" formControlName="productid" [(ngModel)]="productupdateid" id="inputNombre" placeholder="IdProduct" type="text">
    <input formControlName="nombre" [(ngModel)]="inputNombre" id="inputNombre" placeholder="Nombre" type="text">
    <input formControlName="precio" [(ngModel)]="inputPrecio" id="inputPrecio" placeholder="Precio" type="text">
    <input formControlName="inventario" [(ngModel)]="inputEnInventario" id="inputEnInventario" placeholder="En inventario" type="text">
    <input formControlName="disponible" [(ngModel)]="inputDisponible" id="inputDisponible" placeholder="Disponible" type="text">
    <input formControlName="max" [(ngModel)]="inputMax" id="inputMax" placeholder="Max" type="text">
    <input formControlName="min" [(ngModel)]="inputMin" id="inputMin" placeholder="Min" type="text">

    <button id="submitButton" [disabled]="formInicial.invalid" (click)="submmit()">{{(this.isEdited)?"Editar":"Crear nuevo"}}</button>
    <button *ngIf="isEdited" (click)="cancelEdit()">Cancelar</button>
    <button (click)="goToHistory()">Historial de compras</button>
    <button (click)="logout()">Cerrar sesion</button>

  </form>

  <br>

  <div id="products">

    <div id="productson" *ngFor="let product of products">

      <b>{{product.name.name}}<span>: {{product.price.quantity}}$</span></b><br><br>
      <Button id="productson_btn" (click)="editProduct(product)">Editar</Button> <button id="productson_btndel" (click)="deleteProduct(product.productID.uuid)">Eliminar</button>

    </div>

  </div>

</div>


