<form [formGroup]="formInicial">

  <input formControlName="user" [value]="inputNombre||''" id="inputNombre" placeholder="Nombre" type="text">
  <input formControlName="user" [value]="inputPrecio||''" id="inputPrecio" placeholder="Precio" type="text">
  <input formControlName="user" [value]="inputEnInventario||''" id="inputEnInventario" placeholder="En inventario" type="text">
  <input formControlName="user" [value]="inputDisponible||''" id="inputDisponible" placeholder="Disponible" type="text">
  <input formControlName="user" [value]="inputMax||''" id="inputMax" placeholder="Max" type="text">
  <input formControlName="user" [value]="inputMin||''" id="inputMin" placeholder="Min" type="text">

  <button id="submitButton" (click)="submmit()">{{(this.isEdited)?"Editar":"Crear nuevo"}}</button>
  <button *ngIf="isEdited" (click)="cancelEdit()">Cancelar</button>
  <button (click)="goToHistory()">Historial de compras</button>

</form>

<br>

<app-tdcomponent *appReloadcomponent="products" (productIDEmmiter)="deleteProduct($event)" (productEmmiter)="editProduct($event)" [products]="products"></app-tdcomponent>
