
<div class="btn">
  <button class="btn_utils" (click)="goToShop()">Regresar a la tienda</button>
  <button class="btn_utils" (click)="buyProducts()">Comprar productos</button>
  <button class="btn_exit" (click)="clearCart()">Quitar todo</button>
  <button class="btn_exit" (click)="logout()">Salir de la sesion</button>
</div>

<div id="products">

  <div *ngFor="let product of shoppingCart">
    <div id="productson">
      <p>{{product.name}}: {{product.quantity}}</p>
      <button class="btn_exit" (click)="deleteObject(product.key)">Quitar objeto</button>
    </div>
  </div>

</div>
